.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1300px) and (max-width: 1499px){
  .page-content {
      margin-left: 90px!important;
  }
  }
  .page-content {
      margin-left: 270px;
  }

  .content-page {
    padding: 110px 15px 0 0!important;
    overflow: hidden;
    min-height: 100vh;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media(max-width:479px) {
    .iq-page-menu-horizontal .content-page,
	body.sidebar-main.iq-page-menu-horizontal .content-page {
		padding: 120px 0 0;
	}
	.top-tab-horizontal .content-page,
	body.sidebar-main.top-tab-horizontal .content-page {
		padding: 100px 0 0;
	}
    }

@media(max-width:1299px) {
    .content-page,
body.sidebar-main .content-page {
    margin-left: 0;
    padding: 90px 0 0;
}
}

@media(max-width:479px) {
    .iq-page-menu-horizontal .content-page,
	body.sidebar-main.iq-page-menu-horizontal .content-page {
		padding: 120px 0 0;
	}
	.top-tab-horizontal .content-page,
	body.sidebar-main.top-tab-horizontal .content-page {
		padding: 100px 0 0;
	}
}