.event-main img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 10px;
}

.event-date {
    width: 100%;
    padding: 5px;
    background: #f4f7f7;
    text-align: center;
    border-radius: 5px;
    height: 73px;
    display: grid;
    align-items: center;
}

.event-date h3 {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #002c3e;
}

.event-date h6 {
    font-size: 16px;
    color: #002c3e;
    font-weight: 800;
}

.event-title {
    margin-bottom: 15px;
}

.event-title h5 {
    font-size: 16px;
    font-weight: 600;
    color: #002c3e;
    height: 25px;
    overflow: hidden;
    letter-spacing: 0.3px;
}

.event-title h6 {
    font-size: 15px;
    color: #819ba2;
    font-weight: 500;
    height: 23px;
    overflow: hidden;
    letter-spacing: 0.2px;
}

.event-title div{
    color: #555;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.event-title div svg{
    FILL: NONE;
    STROKE: #FF5900;
    FILL-RULE: evenodd;
    STROKE-WIDTH: 2PX;
    margin-right: 5px;
}

.star-main {
    background: #3aabef;
    width: 39px;
    height: 39px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-main svg {
    fill: #fff;
}

