.iq-sidebar {
    box-shadow: none;
    border-right: 1px solid #e7ebef;
    position: fixed;
    z-index: 999;
    top: 75px;
    width: 250px;
    height: 100%;
    background: #fff;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

@media (min-width: 1300px) and (max-width: 1499px){
    .iq-sidebar {
        width: 80px;
    }
}

#sidebar-scrollbar{
    overflow: hidden;
    outline: none;
    margin-top: 15px;
    height: 100vh;
}

.iq-sidebar-menu {
    position: relative;
}

.iq-menu {
    padding: 0;
    list-style-type: none;
}

.iq-sidebar-menu .iq-menu li a.active>.home-menu {
    color: #002c3e;
}

@media (min-width: 1300px) and (max-width: 1499px){
.iq-sidebar .iq-sidebar-menu .iq-menu li a span, .iq-sidebar-logo a span, .iq-sidebar-menu .iq-menu li a .badge {
    opacity: 0;
    display: none;
    transition: all .45s ease 0s;
}
}

.iq-sidebar-menu .iq-menu li a span {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    color: #819ba2;
}

.iq-sidebar-menu .iq-menu li a span {
    margin-left: 20px;
}

.iq-sidebar-menu .iq-menu li a span {
    white-space: nowrap;
    padding: 0;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    transition: none;
}

.iq-sidebar {
	position: fixed;
	z-index: 999;
	top: 75px;
	width: 250px;
	height: 100%;
	background: #fff;
	transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	border-right: 1px solid #e7ebef;
	.iq-sidebar-logo {
		float: none;
		width: 100%;
	}
	#sidebar-scrollbar {
		margin-top: 15px;
	}
}
#sidebar-scrollbar {
	height: 100vh;
}
.scroll-content {
	div.p-3 {
		height: 100px;
	}
}
.iq-sidebar-menu {
	.iq-menu {
		.iq-menu-title {
			display: block;
			color: var(--iq-body-text);
			font-size: 15px;
			position: relative;
			padding: 15px;
			font-weight: 500;
			line-height: 18px;
			i {
				display: none;
			}
		}
		margin: 0 12px;
		padding: 0;
		list-style-type: none;
		li {
			list-style-type: none;
			position: relative;
			white-space: nowrap;
			border-radius: 5px;
			a {
				font-size: 14px;
				white-space: nowrap;
				display: block;
				color: var(--iq-body-text);
				position: relative;
				padding: 15px;
				line-height: 18px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				overflow: hidden;
				border-radius: 5px;
				i {
					font-size: 20px;
					margin-right: 10px;
					vertical-align: middle;
					width: 20px;
					display: inline-block;
				}
				span {
					white-space: nowrap;
					padding: 0;
					display: inline-block;
					-webkit-transition: all 0.3s ease-out 0s;
					-moz-transition: all 0.3s ease-out 0s;
					-ms-transition: all 0.3s ease-out 0s;
					-o-transition: all 0.3s ease-out 0s;
					transition: all 0.3s ease-out 0s;
					transition: none;
				}
				.iq-arrow-right {
					margin-right: 0;
					margin-left: auto;
					transition: all 0.3s ease-in-out;
					-webkit-transition: all 0.3s ease-in-out;
					-moz-transition: all 0.3s ease-in-out;
					-o-transition: all 0.3s ease-in-out;
					-ms-transition: all 0.3s ease-in-out;
				}
				.badge {
					position: absolute;
					right: 15px;
					-webkit-transition: all 0.9s ease-out 0s;
					-moz-transition: all 0.9s ease-out 0s;
					-ms-transition: all 0.9s ease-out 0s;
					-o-transition: all 0.9s ease-out 0s;
					transition: all 0.9s ease-out 0s;
				}
				&:hover {
					color: var(--iq-primary);
				}
			}
			li {
				a {
					font-size: 14px;
					i {
						font-size: 16px;
					}
				}
			}
			a[aria-expanded="true"] {
				color: var(--iq-primary);
				text-decoration: none;
				border-radius: 5px 5px 0 0;
				transition: none;
				.iq-arrow-right {
					transform: rotate(90deg);
					transition: all 0.3s ease-in-out;
					-webkit-transition: all 0.3s ease-in-out;
					-moz-transition: all 0.3s ease-in-out;
					-o-transition: all 0.3s ease-in-out;
					-ms-transition: all 0.3s ease-in-out;
				}
			}
			.iq-submenu {
				li {
					a {
						&:hover {
							background: transparent;
						}
					}
					>a {
						&::before {
							display: none;
						}
					}
					a[aria-expanded="true"] {
						box-shadow: none;
					}
				}
			}
			ul {
				padding-left: 10px;
				li {
					a {
						color: var(--iq-body-text);
						padding: 12px 20px;
					}
				}
				a {
					&:hover {
						color: var(--iq-primary);
						text-decoration: none;
						background: transparent;
					}
				}
			}
			ul.iq-submenu-data {
				li {
					>a {
						padding-left: 50px;
					}
					margin: 0;
				}
			}
		}
		li.active {
			background: var(--iq-light-primary);
			>a {
				color: var(--iq-primary);
				text-decoration: none;
			}
			a[aria-expanded="true"] {
				box-shadow: none;
			}
			.iq-submenu {
				li {
					>a {
						background: transparent;
					}
					&:last-child {
						>a {
							border-radius: 0 0 5px 5px;
						}
					}
					a[aria-expanded="true"] {
						box-shadow: none;
					}
				}
				li.active {
					>a {
						color: var(--iq-primary);
						border-radius: 0;
					}
				}
				box-shadow: none;
			}
			ul.iq-submenu-data {
				li.active {
					>a {
						background: var(--iq-light-primary);
						color: var(--iq-primary);
						border-radius: 0;
					}
				}
			}
		}
		li.active-menu {
			background: var(--iq-light-primary);
			>a {
				color: var(--iq-primary);
				text-decoration: none;
			}
		}
		.iq-submenu {
			.iq-submenu-data {
				box-shadow: none;
			}
		}
	}
	position: relative;
}

body.sidebar-main {
	.iq-sidebar {
		.iq-menu {
			li {
				a[aria-expanded="false"].collapsed {
					border-radius: 5px;
				}
				a[aria-expanded="true"] {
					border-radius: 5px 5px 0 0;
				}
			}
		}
		.iq-sidebar-menu {
			.iq-menu {
				li {
					ul.iq-submenu-data {
						li {
							>a {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}
		&:hover {
			.iq-sidebar-menu {
				.iq-menu {
					li {
						ul.iq-submenu-data {
							li {
								>a {
									padding-left: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
	.iq-menu-bt-sidebar {
		.iq-menu-bt {
			opacity: 1;
		}
	}
}
.sidebar-main {
	.iq-sidebar-menu {
		.iq-menu {
			li {
				ul {
					padding-left: 0;
				}
			}
		}
	}
}

@media (min-width:1300px) and (max-width:1499px) {
	.iq-sidebar {
		width: 80px;
	}
}

