@keyframes shadow-pulse-dots {
	0% {
		box-shadow: 0 0 0 0px rgba(230, 65, 65, 0.2);
	}
	100% {
		box-shadow: 0 0 0 15px rgba(230, 65, 65, 0);
	}
}
@keyframes shadow-pulse {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 132, 255, 0.2);
	}
	100% {
		box-shadow: 0 0 0 15px rgba(0, 132, 255, 0);
	}
}
/*---------- Sidebar Logo --------------*/
/*----------------------*/
@-webkit-keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
.iq-card-header {
	.dropdown-bg {
		background: var(--iq-light-primary);
		padding: 8px 15px;
		color: var(--iq-primary);
		border-radius: 15px;
	}
	.dropdown-menu {
		margin: 0;
		padding: 0;
		font-size: 13px;
		top: 20px !important;
		border-radius: 10px;
		border-color: var(--iq-border-light);
		-webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
		-moz-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
		box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
		.dropdown-item {
			padding: 8px 15px;
			color: var(--iq-body-text);
			i {
				font-size: 14px;
				vertical-align: middle;
			}
		}
	}
}
.dropdown-menu {
	.dropdown-item {
		&:focus {
			background: transparent;
			color: var(--iq-primary);
		}
		&:hover {
			background: transparent;
			color: var(--iq-primary);
		}
	}
}

.iq-search-bar {
	.searchbox {
		.search-link {
			position: absolute;
			top: 2px;
			left: 15px;
			font-size: 16px;
			line-height: 47px;
			i{
				color: #819ba2;
			}
		}
		width: 480px;
		position: relative;
	}
	padding: 0 15px;
	.search-input {
		width: 100%;
		height: 50px;
		padding: 5px 15px 5px 50px;
		border-radius: 50px;
		border: 1px solid var(--iq-border-light);
		background: #f4f7f7 !important;
	}
	.search-input::placeholder{
		color: #819ba2;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.9px;
	}
}

.iq-top-navbar {
	padding: 0 15px;
	position: fixed;
	top: 0;
	left: auto;
	right: 0;
	width: 100%;
	display: inline-block;
	z-index: 999;
	background: #fff;
	margin: 0;
	transition: all 0.45s ease 0s;
	border-bottom: 1px solid #e7ebef;
	.navbar-expand-lg {
		justify-content: space-between !important;
	}
	.navbar-collapse {
		flex-grow: unset;
	}
	.iq-navbar-custom {
		.navbar-breadcrumb {
			display: block;
			margin-left: 30px;
			padding: 10px 0;
		}
		.iq-menu-bt-sidebar {
			.iq-menu-bt {
				display: block;
				margin: 0 0 0 20px;
			}
		}
	}
	.breadcrumb {
		.breadcrumb-item.active {
			color: var(--iq-body-text);
		}
		background: transparent;
		padding: 0;
		margin: 0;
		li {
			list-style-type: none;
			font-size: 12px;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.iq-sub-dropdown {
		position: absolute;
		.iq-card-body {
			div {
				border-radius: 5px 5px 0 0;
			}
		}
	}
	.search-box {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
		background-color: var(--iq-white);
		transition: all 0.3s;
		padding: 15px;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
		-moz-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
		box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-ms-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
		-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	}
}
.iq-top-navbar.fixed-header {
	margin: 0;
	right: 0;
	width: calc(100% - 260px);
	border-radius: 0;
	transition: all 0.45s ease 0s;
}
.breadcrumb-item+.breadcrumb-item {
	&::before {
		content: "\ea5f";
		font-family: 'remixicon';
		font-size: 14px;
		vertical-align: sub;
		color: var(--iq-body-text);
	}
}
.navbar-list {
	margin: 0;
	padding: 0;
	float: right;
	li {
		float: left;
		list-style-type: none;
		position: relative;
		>.dropdown {
			line-height: 73px;
			.dropdown-menu {
				-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
				animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
				-webkit-transform: translateY(100%);
				transform: translateY(100%);
			}
			cursor: pointer;
		}
		.dropdown-toggle {
			&::after {
				display: none;
			}
		}
		>a.language-title {
			font-size: 16px;
		}
		>a {
			font-size: 18px;
			padding: 0 15px;
			color: var(--iq-primary);
			display: block;
			min-height: 75px;
			>img {
				width: 50px;
				height: 50px;
			}
		}
		&:last-child {
			>a {
				padding-right: 20px;
			}
		}
		a {
			&:hover {
				text-decoration: none;
			}
		}
		.caption {
			line-height: 16px;
		}
		.iq-sub-dropdown {
			.iq-sub-card.iq-sub-card-big {
				width: auto;
			}
			.iq-sub-card {
				font-size: inherit;
				padding: 15px;
				line-height: normal;
				color: inherit;
				border-bottom: 1px solid var(--iq-light-primary);
				display: inline-block;
				width: 100%;
			}
		}
	}
	li.iq-nav-user {
		display: flex;
		align-items: flex-start;
		span {
			flex: 1;
			font-size: 14px;
		}
	}
}
.menu-tag {
	position: absolute;
	background: var(--iq-body-text);
	color: var(--iq-white);
	display: inline-block;
	top: 18px;
	left: 18px;
	font-size: 12px;
	border-radius: 90px;
	line-height: normal;
	height: 18px;
	width: 18px;
	line-height: 18px;
	text-align: center;
	display: inline-block;
}
.iq-breadcrumb {
	display: none;
}
.nav-item {
	span.dots {
		height: 5px;
		width: 5px;
		font-size: 0;
		text-align: center;
		padding: 0;
		position: absolute;
		top: 25px;
		right: 10px;
		animation: shadow-pulse-dots 1s infinite;
		border-radius: 50%;
		-webkit-border-radius: 50%;
	}
	span.count-mail {
		height: 5px;
		width: 5px;
		font-size: 10px;
		text-align: center;
		line-height: 15px;
		padding: 0;
		position: absolute;
		top: 20px;
		right: 10px;
		animation: shadow-pulse 1s infinite;
		border-radius: 50%;
	}
}
div#lottie-beil {
	height: 20px;
	width: 20px;
	svg {
		path {
			stroke: var(--iq-primary);
		}
	}
}
div#lottie-mail {
	height: 20px;
	width: 20px;
	svg {
		path {
			stroke: var(--iq-primary);
		}
	}
}
div#lottie-fullscreen {
	height: 20px;
	width: 20px;
	svg {
		path {
			stroke: var(--iq-primary);
		}
	}
}
.top-nav-bottom {
	margin-left: 260px;
	border-top: 1px solid var(--iq-light-primary);
}
.topnav-toolbar {
	li {
		a {
			display: block;
			padding: 10px 15px;
			text-transform: capitalize;
			color: var(--iq-secondary);
			border-radius: 10px;
			-webkit-border-radius: 10px;
		}
	}
	li.date-today {
		background: var(--iq-light);
	}
	li.active {
		a {
			background: var(--iq-light-primary);
			color: var(--iq-primary);
		}
	}
	ul {
		li {
			list-style: none;
			padding: 13px 0;
		}
	}
}
.iq-navbar-logo {
	padding: 0;
	width: auto;
	position: relative;
	background: var(--iq-white);
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	background: transparent;
	display: flex;
	justify-content: space-between;
	a {
		display: flex;
		align-items: flex-start;
		span {
			margin-left: 10px;
			font-size: 28px;
			font-family: 'Poppins', sans-serif;
			line-height: 45px;
			color: var(--iq-title-text);
			flex: 1;
			-webkit-transition: all 0.3s ease-out 0s;
			-moz-transition: all 0.3s ease-out 0s;
			-ms-transition: all 0.3s ease-out 0s;
			-o-transition: all 0.3s ease-out 0s;
			transition: all 0.3s ease-out 0s;
		}
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	img {
		height: 45px;
	}
}
.iq-sidebar-logo {
	padding-top: 15px;
	padding-left: 20px;
	width: 260px;
	float: left;
	position: relative;
	background: var(--iq-white);
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	background: transparent;
	a {
		display: flex;
		align-items: flex-start;
		span {
			margin-left: 10px;
			font-size: 28px;
			line-height: 45px;
			color: var(--iq-body-text);
			text-transform: lowercase;
			flex: 1;
			-webkit-transition: all 0.3s ease-out 0s;
			-moz-transition: all 0.3s ease-out 0s;
			-ms-transition: all 0.3s ease-out 0s;
			-o-transition: all 0.3s ease-out 0s;
			transition: all 0.3s ease-out 0s;
		}
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	img {
		height: 45px;
	}
}
.iq-menu-bt {
	padding: 12px 7px;
	margin: 0 15px;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 12px;
}
.wrapper-menu {
	font-size: 20px;
	text-align: center;
	line-height: 15px;
	color: var(--iq-body-text);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: transform 330ms ease-out;
	.main-circle{
		svg{
			width: 20px;
			height: 20px;
		}
	}
}
.line-menu {
	background-color: var(--iq-primary);
	border-radius: 90px;
	width: 100%;
	height: 2px;
}
.line-menu.half {
	width: 50%;
}
.line-menu.start {
	transition: transform 330ms cubic-bezier(0.54, -0.81, 0.37, 0.37);
	transform-origin: right;
}
.open {
	.line-menu.start {
		transform: rotate(-90deg) translateX(3px);
	}
	.line-menu.end {
		transform: rotate(-90deg) translateX(-3px);
	}
}
.line-menu.end {
	align-self: flex-end;
	transition: transform 330ms cubic-bezier(0.54, -0.81, 0.37, 0.37);
	transform-origin: left;
}
.iq-sub-dropdown.iq-sub-dropdown-large {
	width: 500px;
}
.iq-show {
	.iq-sub-dropdown {
		display: inline-block;
	}
	.search-box {
		display: inline-block;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-ms-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
	}
}
.search-box {
	.search-input {
		width: 300px;
		height: 50px;
		padding: 0 1em;
		border: 1px solid var(--iq-light-primary);
		background-color: var(--iq-light-primary);
		opacity: 1;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
}


.iq-show .iq-sub-dropdown {
    display: inline-block;
}

.dropdown-toggle::after{
	display: none;
}

.dropdown-menu{
	width: 350px;
	left: -120px!important;
	top: 80px!important;
	padding: 15px;
	line-height: 30px;
	box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1)!important;
	border: 0px;
	border-radius: 5px;
}

.dropdown-toggle{
	background: transparent;
    border-radius: 50px;
    border: 1px solid #002c67;
    margin-left: 10px;
    padding: 8px 12px;
	color: #002c3e;
	&:hover{
		background: #002c3e;
	}
}

.header-popup-heading{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #f4f7f7;
	padding-bottom: 5px;
	margin-bottom: 5px;
	p{
		margin-bottom: 0px;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0.5px;
	}
	a{
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0.5px;
		color: #3aabef;
	}
}

.notification{
	height: 300px;
	overflow-y: scroll;
	
}

.notification::-webkit-scrollbar {
	width: 0px;
	}
	/* Track */
	.notification::-webkit-scrollbar-track {
	background: #f1f1f1; 
	}
	   
	/* Handle */
	.notification::-webkit-scrollbar-thumb {
	background: #888; 
	}
	  
	/* Handle on hover */
	.notification::-webkit-scrollbar-thumb:hover {
	background: #555; 
	}

.notification-main{
	margin-top: 10px;
	h5{
		font-size: 14px;
		letter-spacing: 0.5px;
		font-weight: 500;
		color: #819ba2;
		margin-top: 15px;
	}
	.notification-content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 3px;
		.notificaion-detail{
			display: flex;
			align-items: center;
			i{
				margin-right: 10px;
				color: #555;
			}
			p{
				margin-bottom: 0px;
				font-size: 12px;
				letter-spacing: 0.3px;
				color: #555;
				font-weight: 400;
				span{
					font-weight: 700;
					color: #002c3e;
					font-size: 14px;
				}
			}
		}
	}
}

