.add-post{
    margin-top: 15px;
    border: 1px solid #00646426;
    padding: 8px;
    border-radius: 6px;
}

.users-thumb-list {
    margin-top: 5px;
    width: 100%;
}

.users-thumb-list>a {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.users-thumb-list>a img {
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.plus-more div{
    padding: 12px 10px;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    width: 50px;
    height: 50px;
    background: rgba(173, 232, 248,1);
}

/* Topic Header */

.topic-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.topic-header h4{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #002c3e;
}
.topic-header a{
    color: #3aabef;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    letter-spacing: 0.5px;
}

.Suggestion{
    margin-bottom: 15px;
}

.Userdetail{
    margin-bottom: 15px;
}

/* User Profile */

.own-user-profile {
    text-align: center;
}

.own-user-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    object-fit: cover;
}

.own-user-profile h4 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #002c3e;
    margin-bottom: 0px;
    height: 27px;
    overflow: hidden;
}

.own-user-profile h6 {
    font-size: 14px;
    text-transform: uppercase;
    color: #3aabef;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.own-user-profile p {
    font-size: 14px;
    margin-bottom: 0px;
    color: #555;
    font-weight: 600;
}

.own-user-description h4 {
    font-size: 15px;
    margin-top: 0px;
    font-weight: 700;
    margin-bottom: 4px;
    max-height: 48px;
    overflow: hidden;
    letter-spacing: 0.5px;
}

.own-user-description p {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    max-height: 46px;
    display: block;
    overflow: hidden;
}

.blue-btn {
    background: #3aabef;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s all;
    border: 1px solid #3aabef;
    display: inline-block;
}

.blue-btn:hover{
    background: transparent;
    color: #3aabef;
}

/* Add Post */

.add_post{
    margin-top: 15px;
    border: 1px solid #00646426;
    padding: 8px;
    border-radius: 6px;
}

.Postuserimg{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.Posttextarea{
    border: 0px;
    padding: 0px;
    height: 80px;
    border-radius: 8px;
}