/* PostHeader */
.Postheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
}
.Postheader .user-detail{
    display: flex;
}
.user-detail a{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #002c3e;
}
.user-detail img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 15px;
}
.user-detail p{
    margin-bottom: 0px;
    font-size: 14px;
    color: #555;
    font-weight: 600;
}
.dropdown-item{
    padding: 7px 15px;
}
.dropdown-item h6{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #555;
}

/* Post Description */
.Postdescription{
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-top: 10px;
    color: #555;
    margin-bottom: 10px;
}

/* Post Footer */

.Postfooter{
    display: flex;
}

.Postfooter .like-btn a{
    background: #3aabef;
    padding: 8px;
    border-radius: 5px;
}
.Postfooter .like-btn span{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.Postfooter .comment-btn{
    margin-left: 10px;
}
.Postfooter .comment-btn a{
    background: #f4f7f7;
    padding: 8px;
    border-radius: 5px;
}
.Postfooter .comment-btn span{
    font-weight: 600;
}

/* poll Answer */
.Pollanswer{
    border: 1px solid #e7ebef;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
}

.Pollanswer h5{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.3px;
    color: #3aabef;
    margin-bottom: 10px;
}

.Polloptions {
    padding-right: 20px!important;
    transition: 0.5s all;
    border: 1px solid #e7ebef;
    border-radius: 9px;
    padding: 12px 5px 12px 20px;
    margin-bottom: 12px;
    width: 100%;
}

.Polloptions label {
    margin-bottom: 0px;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #002c3e;
    padding-left: 35px!important;
}

.Polloptions [type="radio"]:checked,
.Polloptions [type="radio"]:not(:checked) {
  position: absolute;
  left: 33px;
  top: 35px;
  z-index: 9999;
  opacity: 0;
}

.Polloptions [type="radio"]:checked+label,
.Polloptions [type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}

.Polloptions [type="radio"]:checked+label:before,
.Polloptions [type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

.Polloptions [type="radio"]:checked+label:after,
.Polloptions [type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #3aabef;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.Polloptions [type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.Polloptions [type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

input {
  cursor: pointer;
}

.Polloptions:hover{
    box-shadow: 0 0.2rem 0.75rem rgb(0 100 100 / 15%);
}

.Polloptions .progress{
    border-radius: 50px;
}

.Polloptions .progress-bar{
    background: #3aabef;
    border-radius: 50px;
}

.Pollanswer p{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    color: #819ba2;
}

/* comment css */

.Comment .CommentBody{
    height: 400px;
    overflow-y: scroll;
}
.Comment .post-media{
    margin-bottom: 15px;
}
.Comment img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
}
.Comment .MediaUserHeader{
    display: flex;
    justify-content: space-between;
}
.Comment .media .media-body h5 {
    font-size: 14px;
    font-weight: 700;
    color: #002c3e;
    letter-spacing: 0.2px;
}
.Comment p {
    font-size: 14px;
    color: #8ba3aa;
    letter-spacing: 0.2px;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 3px;
    background: #f4f7f7;
    padding: 8px;
    border-radius: 5px;
}
.Comment .media-like-comment a {
    color: #819ba2;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.5s all;
}
.Comment .comment-text textarea {
    background: #f4f7f7;
}
.Comment .replay-btn {
    background: #FF5900;
    margin-top: 7px;
    border-radius: 50px;
    border: 0px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 12px;
    padding: 5px 10px;
}
.Comment .comment-replay-main{
    display: flex;
}
.Comment .PostBtn{
    text-align: end;
    margin-top: 15px;
}
.Comment .media-user-header{
    display: flex;
    justify-content: space-between;
}
.Comment .media-user-header span{
    font-size: 14px;
    color: #819ba2;
    font-weight: 500;
    letter-spacing: 0.5px;
}